<div class="algotrade-hero-container">
  <div class="algotrade-hero-icon">
    <span> Algo </span>
  </div>
  <div class="algotrade-hero-display">
    <div class="algotrade-hero-display-left">
      <div class="algotrade-hero-display-text">
        <p class="hero-text-2-primary">
          Supercharge Your Trades with
          <span class="hero-text-2-primary gradient-text"
            >Algorithmic Execution</span
          >
        </p>
        <span class="body-text-1">
          Your all-in-one platform for seamless algorithmic trading and smart
          decision-making
        </span>
      </div>
      <button type="button" class="gradient-button subheading-text-4">
        Read More
      </button>
    </div>
    <div class="algotrade-hero-display-right">
      <img src="/assets/svg/algorithmic-execution.svg" alt="" />
    </div>
  </div>
  <div class="algotrade-hero-decoration">
    <img src="/assets/svg/protradedesk-page-vector.svg" alt="" />
  </div>
  <div class="algotrade-section-container">
    <section class="algotrade-key-features-1">
      <div class="algotrade-key-features-1-image-container">
        <div>
          <img src="/assets/svg/trading-tools.svg" alt="" />
        </div>
      </div>
      <div class="algotrade-key-features-1-text-container">
        <h2 class="hero-text-2-secondary">
          Master the Markets with
          <span class="hero-text-2-primary gradient-text"
            >Intelligent Trading Tools</span
          >
        </h2>
        <hr />
        <p class="body-text-2">
          OLGO is a next-gen algorithmic trading platform for traders at all
          levels. Build custom strategies, trade across exchanges, and soon,
          harness AI for smarter automation. With Synchronized Trading, manage
          multiple accounts effortlessly
        </p>
      </div>
    </section>
    <section class="algotrade-key-features-2">
      <div class="algotrade-key-features-2-container">
        <div class="algotrade-key-features-2-heading">
          <p class="heading-text-1">Key Benefits</p>
        </div>
        <div class="algotrade-key-features-2-discovery">
          <div class="algotrade-key-features-2-discovery-category">
            <!-- accordion -->
            <div class="accordion-item active">
              <div class="accordion-header">
                <h3 class="subheading-text-4">Automate Your Strategies</h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-text">
                  <span class="body-text-4"
                    >Remove emotions and execute trades based on predefined
                    rules.</span
                  >
                </div>
                <div class="accordion-content-image">
                  <img
                    src="/assets/svg/automate-your-strategies.svg"
                    alt="automate your strategies"
                  />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h3 class="subheading-text-4">Backtest with Historical Data</h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-text">
                  <span class="body-text-4"
                    >Test your strategies before deploying in live markets</span
                  >
                </div>
                <div class="accordion-content-image">
                  <img
                    src="/assets/svg/backtest-with-historical-data.svg"
                    alt="backtest with historical data"
                  />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h3 class="subheading-text-4">
                  No-Code & Python-Based Execution
                </h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-text">
                  <span class="body-text-4"
                    >Build strategies with an intuitive UI or write Python
                    code</span
                  >
                </div>
                <div class="accordion-content-image">
                  <img
                    src="/assets/svg/no-code-and-python-based-execution.svg"
                    alt="no-code python based execution"
                  />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h3 class="subheading-text-4">
                  AI-Assisted Strategy Generation
                </h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-text">
                  <span class="body-text-4"
                    >Get AI-powered recommendations for strategy development.
                  </span>
                </div>
                <div class="accordion-content-image">
                  <img
                    src="/assets/svg/ai-assisted-strategy-generation.svg"
                    alt="ai assisted strategy generation"
                  />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h3 class="subheading-text-4">Robust Risk Management</h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-text">
                  <span class="body-text-4"
                    >Set stop-loss, take-profit, and custom risk controls.</span
                  >
                </div>
                <div class="accordion-content-image">
                  <img
                    src="/assets/svg/robust-risk-management.svg"
                    alt="robust risk management"
                  />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h3 class="subheading-text-4">Seamless Broker Integration</h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-text">
                  <span class="body-text-4"
                    >Connect with leading brokers for fast & secure
                    execution.</span
                  >
                </div>
                <div class="accordion-content-image">
                  <img
                    src="/assets/svg/seamless-broker-integration.svg"
                    alt="seamless broker integration"
                  />
                </div>
              </div>
            </div>
            <!-- accordion -->
          </div>
          <div class="algotrade-key-features-2-discovery-content">
            <div class="algotrade-key-features-2-discovery-content-text">
              Replicate trades seamlessly for multiple clients with precision.
            </div>
            <div class="algotrade-key-features-2-discovery-content-image">
              <img src="/assets/svg/automate-your-strategies.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="algotrade-key-features-3">
      <div class="algotrade-key-features-3-container">
        <div class="algotrade-key-features-3-heading">
          <p class="heading-text-2">How it Works ?</p>
        </div>
        <div class="algotrade-key-features-3-content-container">
          <div class="algotrade-key-features-3-content-indicator">
            <div class="algotrade-key-features-3-content-indicator-line"></div>
            <div class="algotrade-key-features-3-content-indicator-item">
              <span class="heading-text-4">1</span>
            </div>
            <div class="algotrade-key-features-3-content-indicator-item">
              <span class="heading-text-4">2</span>
            </div>
            <div class="algotrade-key-features-3-content-indicator-item">
              <span class="heading-text-4">3</span>
            </div>
          </div>
          <div class="algotrade-key-features-3-content">
            <div class="algotrade-key-features-3-content-item">
              <div class="algotrade-key-features-3-content-item-image">
                <img src="/assets/svg/build-your-strategy.svg" alt="" />
              </div>
              <div class="algotrade-key-features-3-content-item-text">
                <p>Build Your Strategy</p>
                <p class="body-text-3">
                  Use our no-code builder or Python scripting
                </p>
              </div>
            </div>
            <div class="algotrade-key-features-3-content-item">
              <div class="algotrade-key-features-3-content-item-image">
                <img src="/assets/svg/backtest-and-optimize.svg" alt="" />
              </div>
              <div class="algotrade-key-features-3-content-item-text">
                <p>Backtest & Optimize</p>
                <p class="body-text-3">Test performance on historical data</p>
              </div>
            </div>
            <div class="algotrade-key-features-3-content-item">
              <div class="algotrade-key-features-3-content-item-image">
                <img src="/assets/svg/deploy-and-monitor.svg" alt="" />
              </div>
              <div class="algotrade-key-features-3-content-item-text">
                <p>Deploy & Monitor</p>
                <p class="body-text-3">
                  Automate trades with real-time execution
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
