<div class="confirm-popup-container">
  <div class="confirm-popup-background"></div>
  <div class="confirm-popup-body">
    <div class="confirm-popup-image">
      <img src="/assets/svg/congratulation.svg" alt="Confirm Popup Image" />
    </div>
    <div class="confirm-popup-content">
      <p class="confirm-popup-title">Congratulations!</p>
      <p class="confirm-popup-message">
        We appreciate you reaching out! Sit tight, we’ll be with you soon.
      </p>
    </div>
    <div class="confirm-popup-footer">
      <button class="confirm-popup-close-btn">
        <img src="/assets/icons/close.svg" alt="Close" />
      </button>
      <button class="confirm-popup-back-btn gradient-button subheading-text-4">
        Back to Homepage
      </button>
    </div>
  </div>
</div>
