<footer class="footer">
  <div class="back-to-top">
    <span class="subheading-text-4"> Back to Top </span>
    <img src="assets/icons/arrow-up.svg" alt="" />
  </div>
  <div class="footer-content">
    <div class="footer-links-container">
      <div class="footer-links-box">
        <div class="footer-links-box-heading">
          <p class="subheading-text-2">Know Us</p>
        </div>
        <ul class="footer-links-box-content">
          <li>About Us</li>
          <li>History</li>
          <li>The Team</li>
        </ul>
      </div>
      <div class="footer-links-box">
        <div class="footer-links-box-heading">
          <p class="subheading-text-2">Connect with Us</p>
        </div>
        <ul class="footer-links-box-content">
          <li>Contact Us</li>
          <li>Suggestions</li>
          <li>Feedback</li>
        </ul>
      </div>
      <div class="footer-links-box">
        <div class="footer-links-box-heading">
          <p class="subheading-text-2">Customer Services</p>
        </div>
        <ul class="footer-links-box-content">
          <li>Support</li>
          <li>FAQ's</li>
          <li>Careers</li>
          <li>Privacy Policy</li>
          <li>Help</li>
        </ul>
      </div>
      <div class="footer-links-box">
        <div class="footer-links-box-heading">
          <p class="subheading-text-2">Help</p>
        </div>
        <ul class="footer-links-box-content">
          <li>Connect</li>
          <li>T & C</li>
        </ul>
      </div>
    </div>
    <div class="footer-form-box">
      <div class="footer-form-box-heading">
        <p class="heading-text-4">Register your Interest</p>
      </div>
      <form action="" class="footer-form-box-content">
        <input
          class="body-text-3"
          type="email"
          placeholder="Enter Email Address"
        />
        <input
          class="body-text-3"
          type="text"
          placeholder="Enter Mobile Number"
        />
        <button class="gradient-button subheading-text-4" type="submit">
          Join Us
        </button>
      </form>
    </div>
  </div>
  <div class="footer-decoration"></div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <img src="assets/icons/globe.svg" alt="" />
      <span class="body-text-3">English</span>
      <img src="assets/icons/arrow-down.svg" alt="" />
    </div>
    <div class="footer-bottom-right">
      <a href="Olgo.in">Olgo.in</a>
      <div class="footer-bottom-right-divider"></div>
      <div class="footer-bottom-right-social">
        <a class="linkedin-icon" href="">
          <img src="images/linkedin.png" alt="" />
        </a>
        <a class="gmail-icon" href="">
          <img src="images/gmail.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
