<header class="header">
  <div class="header-logo">
    <img class="header-logo-img" src="assets/icons/logo.svg" alt="Logo" />
    <p class="header-logo-text">OLEANDER</p>
  </div>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item active">
        <span class="header-nav-link homepage-link" data-page="homepage.html"
          >Homepage</span
        >
      </li>
      <li class="header-nav-item has-dropdown">
        <span class="header-nav-link dropdown-toggle">Products</span>
        <div class="header-nav-dropdown">
          <span class="dropdown-item top-item" data-page="protradedesk.html">
            <span class="body-text-2">ProTradeDesk</span>
          </span>
          <span class="dropdown-item bottom-item" data-page="algotrade.html">
            <span class="body-text-2">ALGO</span>
          </span>
        </div>
      </li>
      <li class="header-nav-item">
        <span
          class="header-nav-link contact-us-link"
          data-page="contactpage.html"
          >Contact Us</span
        >
      </li>
    </ul>
    <button class="header-nav-toggle">
      <img src="/assets/svg/hamburger.svg" alt="Menu" />
    </button>
  </nav>
</header>
