<div class="mobile-menu-container">
  <div class="mobile-menu-background"></div>
  <div class="mobile-menu-body">
    <div class="mobile-menu-header">
      <div class="mobile-menu-header-logo">
        <img src="/assets/icons/logo.svg" alt="Logo" />
        <p>OLEANDERS</p>
      </div>
      <button class="mobile-menu-close-btn">
        <img src="/assets/icons/close.svg" alt="Close" />
      </button>
    </div>
    <div class="mobile-menu-content">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item subheading-text-2">
          <a href="#" class="mobile-menu-link">HomePage</a>
          <img src="/assets/icons/chevron-right.svg" alt="Arrow Right" />
        </li>
        <li class="mobile-menu-divider">
          <hr />
        </li>
        <div class="product-dropdown">
          <li class="mobile-menu-item subheading-text-2">
            <a href="#" class="mobile-menu-link">Products</a>
          </li>
          <li class="sub-mobile-menu-item body-text-2">
            <a href="#" class="mobile-menu-link">ProTradeDesk</a>
            <img src="/assets/icons/chevron-right.svg" alt="Arrow Right" />
          </li>
          <li class="sub-mobile-menu-item body-text-2">
            <a href="#" class="mobile-menu-link">Algo</a>
            <img src="/assets/icons/chevron-right.svg" alt="Arrow Right" />
          </li>
        </div>
        <li class="mobile-menu-divider">
          <hr />
        </li>
        <li class="mobile-menu-item subheading-text-2">
          <a href="#" class="mobile-menu-link">Contact Us</a>
          <img src="/assets/icons/chevron-right.svg" alt="Arrow Right" />
        </li>
      </ul>
    </div>
  </div>
</div>
