<div class="algotrade-hero-container">
  <div class="algotrade-hero-icon">
    <span>ProTradeDesk</span>
  </div>
  <div class="algotrade-hero-display">
    <div class="algotrade-hero-display-left">
      <div class="algotrade-hero-display-text">
        <p class="hero-text-2-primary">
          A
          <span class="hero-text-2-primary gradient-text">Unified Trading</span>
          Experience Across All Your Accounts
        </p>
        <span class="body-text-1">
          Seamlessly manage and trade across all your accounts with one
          intuitive, streamlined experience—no switching, no hassle.
        </span>
      </div>
      <button type="button" class="gradient-button subheading-text-4">
        Read More
      </button>
    </div>
    <div class="protradedesk-hero-display-right">
      <img src="/assets/svg/unified-trading.svg" alt="" />
    </div>
  </div>
  <div class="algotrade-hero-decoration">
    <img src="/assets/svg/protradedesk-page-vector.svg" alt="" />
  </div>
  <div class="algotrade-section-container">
    <section class="algotrade-key-features-1">
      <div class="protradedesk-key-features-1-image-container">
        <div>
          <img src="/assets/svg/unlimited-trading.svg" alt="" />
        </div>
      </div>
      <div class="protradedesk-key-features-1-text-container">
        <h2 class="hero-text-2-secondary">
          Unlimited Trading Power
          <span class="hero-text-2-primary gradient-text"
            >Across All Accounts</span
          >
        </h2>
        <hr />
        <p class="body-text-2">
          Managing multiple trading accounts doesn’t have to be a juggling act.
          Olgo.in’s Sync Trading lets you mirror trades instantly across all
          your accounts with just one click—delivering flawless execution and
          streamlined control in seconds.
        </p>
      </div>
    </section>
    <section class="algotrade-key-features-2">
      <div class="algotrade-key-features-2-container">
        <div class="algotrade-key-features-2-heading">
          <p class="heading-text-1">Key Benefits</p>
        </div>
        <div class="algotrade-key-features-2-discovery">
          <div class="algotrade-key-features-2-discovery-category">
            <div
              class="algotrade-key-features-2-discovery-category-item active"
            >
              <span class="subheading-text-4"
                >Execute Trades Simultaneously</span
              >
            </div>
            <div class="algotrade-key-features-2-discovery-category-item">
              <span class="subheading-text-4">Custom Allocation Options</span>
            </div>
            <div class="algotrade-key-features-2-discovery-category-item">
              <span class="subheading-text-4"
                >Ideal for Fund Managers & Proprietary Traders</span
              >
            </div>
            <div class="algotrade-key-features-2-discovery-category-item">
              <span class="subheading-text-4">Cross-Broker Compatibility</span>
            </div>
            <div class="algotrade-key-features-2-discovery-category-item">
              <span class="subheading-text-4"
                >Instant Sync & Error-Free Execution</span
              >
            </div>
          </div>
          <div class="algotrade-key-features-2-discovery-content">
            <div class="algotrade-key-features-2-discovery-content-text">
              Trade across multiple accounts at the same time.
            </div>
            <div class="algotrade-key-features-2-discovery-content-image">
              <img src="/assets/svg/execute-trades-simultaneously.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="algotrade-key-features-3">
      <div
        class="algotrade-key-features-3-container"
        style="gap: 32px !important"
      >
        <div class="algotrade-key-features-3-heading">
          <p class="heading-text-2">Who is it for?</p>
        </div>
        <div class="algotrade-key-features-3-content-container">
          <div class="algotrade-key-features-3-content">
            <div class="algotrade-key-features-3-content-item">
              <div class="protradedesk-key-features-3-content-item-image">
                <img src="/assets/svg/traders.svg" alt="" />
              </div>
              <div class="algotrade-key-features-3-content-item-text">
                <p>Traders</p>
                <p class="body-text-3">
                  A professional who buys and sells financial instruments
                  frequently to profit from short-term market movements.
                </p>
              </div>
            </div>
            <div class="algotrade-key-features-3-content-item">
              <div class="protradedesk-key-features-3-content-item-image">
                <img src="/assets/svg/portfolio-managers.svg" alt="" />
              </div>
              <div class="algotrade-key-features-3-content-item-text">
                <p>Portfolio Managers</p>
                <p class="body-text-3">
                  An investment expert who strategically manages a portfolio of
                  assets to achieve long-term financial goals within defined
                  risk parameters.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
